.home{
    /* background-image: url("/src/Images/bgImage.jpg"); */
    /* background-color: black; */
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}