.ServiceHomeCtn {
  position: relative;
  padding: 80px 0;
  background: #f3f9f4; /* light green background */
  overflow: hidden;
}

.ServiceHomeMain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 30px;
}

.ServiceHomeMain h1 {
  font-size: 30px;
  font-weight: 600;
}

.ServiceHomeMain p {
  font-size: 18px;
  margin-top: 10px;
  /* font-weight: 600; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.ServiceHomeCtn {
  position: relative;
  background: #eef7f0; /* screenshot jaisa light green */
  padding: 100px 0;
  overflow: hidden;
}

.wave-svg {
  position: absolute;
  width: 100%;
  height: 120px;
  left: 0;
  z-index: 1;
}

.wave-svg.top {
  top: 0;
}

.wave-svg.bottom {
  bottom: 0;
}

.ServiceHomeMain,
.card-container {
  position: relative;
  z-index: 2;
}
