.Overlay {
  padding: 60px 30px 80px 30px;
  background-color: #0000006e;
}

.Overlay_Pages {
  /* padding: 60px 60px 80px 30px; */
  background-color: #0000006e;
  /* background-color: #3838386e; */
}

.App {
  background-color: black;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

body {
  font-family: "Poppins", sans-serif;
}

/* 
background: rgb(131, 58, 180);
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); */
